@model CalendarEvent
@using Schedulist.DAL.Models

<h4 class="text-center" style="display:flex; justify-content:center; font-size: 30px">@(Model == null ? "Calendar Event Creation" : "Calendar Event update")</h4>
<hr />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-12" style="text-align: center; display: flex; justify-content: center; gap: 10px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventDate" class="control-label"></label>
                <input asp-for="CalendarEventDate" class="form-control" />
                <span asp-validation-for="CalendarEventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventStartTime" class="control-label"></label>
                <input asp-for="CalendarEventStartTime" class="form-control" />
                <span asp-validation-for="CalendarEventStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventEndTime" class="control-label"></label>
                <input asp-for="CalendarEventEndTime" class="form-control" />
                <span asp-validation-for="CalendarEventEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventName" class="control-label"></label>
                <input asp-for="CalendarEventName" class="form-control" />
                <span asp-validation-for="CalendarEventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventDescription" class="control-label"></label>
                <input asp-for="CalendarEventDescription" class="form-control" />
                <span asp-validation-for="CalendarEventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            @{
                var buttonStyle = (Model == null ? "background-color: green;" : "background-color: rgb(224, 157, 49);");
                var buttonText = (Model == null ? "Create" : "Update");
            }
            <div style="padding-top: 10px;">
                <button class="form-button" type="submit" style='@(buttonStyle)'><span>@(buttonText)</span></button>
            </div>
            @*             <div class="form-button">
            <a asp-action="Index"><button type="button">Back to List</button></a>
            </div> *@
        </form>
    </div>
</div>
<script>
    $.validator.unobtrusive.parse("form");
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
