<!DOCTYPE html>

@{
    ViewData["Title"] = "WIP";
}

<html>
<head>
    <title>WIP</title>
</head>
<body>
    
    <h1>This page is under construction</h1>

    <img src="~/images/WIP.png" alt="Work in progress" width="600" height="400">

</body>
</html>