@model Schedulist.DAL.CalendarEvent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Calendar Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CalendarEventName" class="control-label"></label>
                <input asp-for="CalendarEventName" class="form-control" />
                <span asp-validation-for="CalendarEventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventDescription" class="control-label"></label>
                <input asp-for="CalendarEventDescription" class="form-control" />
                <span asp-validation-for="CalendarEventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventDate" class="control-label"></label>
                <input asp-for="CalendarEventDate" class="form-control" />
                <span asp-validation-for="CalendarEventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarEventStartTime" class="control-label"></label>
                <input asp-for="CalendarEventStartTime" class="form-control" />
                <span asp-validation-for="CalendarEventStartTime" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="CalendarEventEndTime" class="control-label"></label>
                <input asp-for="CalendarEventEndTime" class="form-control" />
                <span asp-validation-for="CalendarEventEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
