@{
    ViewData["Title"] = "Calendar";
}
<style>
    .calendarHeader {
        background-color: lightgray;
        outline :2px solid gray;
        min-width: 70px;
        outline-offset: -1px;
    }
    .calendarBlock {
        background-color: rgb(225, 225, 225);
        outline :2px solid gray;
        outline-offset: -1px;
        min-width: 70px;
        min-height: 70px;
    }
    .calendarBlock:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
    .today {
        outline-color: red;
        z-index: 1;
    }
    .thisMonth {
        background-color: rgb(240, 240, 240);
    }
</style>
<div class="text-center">
    @{
    var currentDate = DateTime.Now;
    var firstDayOfTheMonth = new DateTime(currentDate.Year, currentDate.Month, 1);
    var lastDayOfTheMonth = firstDayOfTheMonth.AddMonths(1).AddDays(-1);
    var numberOfDays = Convert.ToInt16(lastDayOfTheMonth.ToString("dd"));
    DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek + 1);
    }
    <div class="container">
        <div class="row flex-nowrap">
        <div class="col calendarHeader">Monday</div>
        <div class="col calendarHeader">Tuesday</div>
        <div class="col calendarHeader">Wednesday</div>
        <div class="col calendarHeader">Thursday</div>
        <div class="col calendarHeader">Friday</div>
        <div class="col calendarHeader">Saturday</div>
        <div class="col calendarHeader">Sunday</div>
        </div>
        <div class="row flex-nowrap">
            @for (int i = 0; i < 42; i++)
            {
                DateTime drawDate = startDate.AddDays(i);
                if (i % 7 == 0 && i > 0)
                {
                    @:</div><div class="row flex-nowrap">
                }
                if (drawDate.Month == currentDate.Month)
                {
                    if (drawDate.Day == currentDate.Day)
                    {
                        <div class="col calendarBlock thisMonth today" style="color:red">@drawDate.Day</div>
                    }
                    else
                    {
                        <div class="col calendarBlock thisMonth">@drawDate.Day</div>
                    }
                }
                else
                {
                    <div class="col calendarBlock" style="color:grey">@drawDate.Day</div>
                }
            }
        </div>
    </div>
</div>
